# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore the .env file, we will pass variables in Docker Compose
.env

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore git files
.git
.gitignore